body {
--body-bg:rgb(240, 204, 210);
--btn-text-color: #5c0a0a;
--card-text-color: #3e3e3e;
--header-bg: #007bbe;
--header-text-color: #d8d8d8;
--inverted-btn-text-color: #eaeaea;
--light-dark-btn-bg: #1d1e2b;
--light-dark-btn-content: "Dark Mode";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--body-bg);
}
body.dark{
background-color: var(--body-bg);
--body-bg: #462840;
--btn-text-color: #eaeaea;
--header-bg: #005e9d;
--header-text-color: #d8d8d8;
--inverted-btn-text-color: #2a2a2a;
--light-dark-btn-bg: linear-gradient(to right top, #444655, #595b6b, #6f7181,
      #868898, #9ea0b0, #acaebe, #bbbccd, #cacbdc, #d2d4e5, #dadced, #e3e5f6, #ebeeff);
--light-dark-btn-content: "Light Mode";


}
.mainftt{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 8vh;
border: solid 2px;

}

.timer{
text-align: center;

}
.trivia{
display: grid;
grid-template-columns:repeat(2, 20% 10% 20%);
grid-template-rows:repeat(5, [row-start] 100px [row-end]);;
align-content:center;
}

#bMain{
grid-column: 3 / 5;
grid-row: 1 / 7;
background-color: rgb(107, 63, 116);
border: solid 2px black;
border-radius: 50%;
justify-self: center;
width: 100%;
}
#triviaQA{
border-radius: 20%;
background-color: rgba(176, 224, 230, 0);
grid-column: 3 / 5;
grid-row: 2 / 3;
justify-self:center;
width: 85%;
}


#answers{
grid-column: 3 / 5;
grid-row: 3 / 4 ;
justify-self: center;
background-color: rgba(128, 0, 128, 0);

}

#answers :hover{
    background-color: rgb(184, 178, 169);
}

/* #a,#b,#c {
border: solid pink;
background-color: rgba(176, 224, 230, 0.247);
border-radius: 40%;
align-content: center;
text-align: center;
} */



#bMovies {
grid-column: 5 / 7;
grid-row: 1 / 4 ;
background-color: rgb(221, 160, 160);
border-radius: 50%;
height: 50%;
width:50%;
}

#bVgame{ 
grid-column: 6 / 7;
grid-row: 5 / 3 ;
background-color: lightskyblue;
border-radius: 50%;
}
#bMusic{
grid-row: 1 / 4;
grid-column: 1 / 3;
background-color: gray;
border-radius: 50%;
justify-self: center;
height: 50%;
width:50%;
}

#bRandom{
grid-column: 1 / 3;
grid-row: 4 / 7;
background-color: hotpink;
border-radius: 50%;
justify-self: center;
width: 70%;
}
#alert{
grid-column:3 ;
grid-row: 3/5;
margin-left: 45px;
border-radius: 20px;
width:85vh;
background-color: rgba(138, 128, 148, 0.075);
}